@charset "utf-8";
/* CSS Document */

body{ margin:0px; padding:0px; font-family:"宋体"; font-size:12px; color:#5d5d5d; text-align:center;}
img{ border:0px;}
.clear{ clear:both;}
.clear_height{ clear:both; height:15px;}
a{ color:#5d5d5d; text-decoration:none;}
a:hover{ color:#5d5d5d; text-decoration:none;}
ul{ margin:0px; padding:0px; list-style:none;}

.top{ width:100%; height:29px; background:url(../images/sy_02.jpg);}
.top_fra{ width:1100px; height:29px; margin:0 auto;}
.top_left{ float:left; width:550px; height:29px;}
.kefu{ float:left; width:100px; height:29px;}
.phone{ float:right; width:410px; height:29px; text-align:left; padding-left:40px; line-height:29px; font-weight:600; letter-spacing:2px; font-size:14px; background:url(../images/sy_07.jpg) no-repeat 12px 3px;}
.top_right{ float:right; width:530px; height:25px; padding-right:20px; text-align:right; padding-top:4px;}

.zth{ width:1100px; height:76px; margin:0 auto;}
.logo{ width:615px; height:76px; text-align:left; float:left;}
.nav{ float:right; width:475px; height:69px; padding-top:7px; padding-right:10px;}
.nav ul li{ width:95px; height:69px; float:left; text-align:center; line-height:69px; font-family:"微软雅黑"; font-size:14px; font-weight:600;}
#dangqian{ width:95px; height:69px; background:url(../images/sy_20.jpg); color:#FFF;}
.currentNav{ width:95px; height:69px; background:url(../images/sy_20.jpg); color:#FFF!important;}

.banner_bg{ width:100%; min-width:1100px; height:300px; background:url(../images/sy_bg.jpg);}
.banner_fra{ width:1100px; height:300px; margin:0 auto;  position:relative;}

.one{ width:100%; height:31px; background:url(../images/sy_26.jpg);}
.one_fra{ width:1100px; height:31px; margin:0 auto; text-align:left; line-height:31px;}
.red_weight{ color:#eb4644; font-weight:600;}
.one_list{ width:275px; line-height:31px; float:left; text-align:left; letter-spacing:2px;}

.two{ width:1100px; height:138px; margin:0 auto;}
.two_cont{ width:1100px; height:105px; padding-top:20px;}
.two_list,.two_list1,.two_list2{ width:200px; height:105px; float:left; padding-left:116px; padding-right:50px;}
.two_list{ background:url(../images/sy_30.jpg) no-repeat 20px 10px;}
.two_list1{ background:url(../images/sy_33.jpg) no-repeat 20px 10px;}
.two_list2{ background:url(../images/sy_35.jpg) no-repeat 20px 10px;}
.two_tit{ width:200px; line-height:30px; text-align:left; font-size:18px; font-family:"微软雅黑"; font-weight:600;}
.two_nr{ width:200px; line-height:18px; text-align:left; color:#2d2d2d; padding-top:3px;}
.hong{ color:#bc3726;}
.two_pic{ width:1100px; height:13px;}

.content{ width:100%; height:853px; padding:15px 0px; background:#dadada;}
.content_fra{ width:1100px; height:853px; margin:0 auto;}
.cont_left{ float:left; width:803px; height:auto;}
.ckxq{ width:803px; height:246px;}
.ckxq_bg{ width:530px; height:37px; background:url(../images/sy_44.jpg); padding-top:24px; padding-left:273px; letter-spacing:1px; font-size:14px; font-weight:600; text-align:left;}
.ckxq_red{ font-size:18px; font-family:"微软雅黑"; font-weight:600; color:#c72c32;}
.ckxq_red1{ font-size:14px; font-family:"微软雅黑"; font-weight:600; color:#c72c32;}
.xq_tab{ width:735px; height:184px; background:#fff; border-bottom:1px solid #b1b1b1; border-left:1px solid #b1b1b1; border-right:1px solid #b1b1b1; padding:0px 40px 0px 26px;}
.xq_left{ float:left; width:195px; height:124px; border:1px solid #c4c3c3; text-align:center; padding-top:6px;}
.xq_right{ float:right; width:492px; height:184px;}
.xq_table{ width:490px; height:84px; border:1px solid #cdcdcd; background:url(../images/sy_60.jpg);}
.xq01{ float:left; width:104px; height:84px;}
.xq02{ float:left; width:102px; height:84px; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd;}
.xq03{ float:left; width:145px; height:84px;}
.xq04{ float:right; width:135px; height:84px; border-left:1px solid #cdcdcd;}
.xq01_tit{ line-height:36px; text-align:left; padding-left:10px; letter-spacing:1px;}
.xq01_nr{ text-align:center; line-height:40px; font-family:"微软雅黑"; font-size:18px; font-weight:600;}
.xq04_nr{ text-align:center; padding-top:9px;}
.jindu{ width:490px; height:28px; padding-top:5px;}
.jindu_font{ float:left; width:208px; height:28px; line-height:28px; text-align:left; font-size:14px; font-weight:600; padding-left:10px; letter-spacing:1px;}
.jindu_pic{ float:right; width:272px; height:20px; text-align:left; padding-top:8px;}
.jd_right{ float:right; width:272px; line-height:28px; text-align:left; font-size:14px; font-weight:600; letter-spacing:1px;}
.jd_font{ width:490px; height:28px;}
.qucu{ font-weight:normal;}
.ind_list{ width:735px; height:160px; background:#FFF; border:1px solid #b2b2b2; padding:25px 40px 0px 26px;}
.ind_right{ float:right; width:492px; height:160px;}
.tuijian{ width:492px; letter-spacing:1px; padding-bottom:5px; height:25px; padding-top:5px;}
.tj_left{ float:left; width:310px; height:23px; line-height:23px; font-size:14px; font-weight:600; text-align:left;}
.tj_right{ float:right; width:182px; height:23px; text-align:left;}
.tj_jd{ float:left; width:100px; height:23px; line-height:23px;}
.tj_jd_pic{ float:right; width:82px; height:16px; padding-top:7px;}

.cont_right{ float:right; width:286px; height:auto;}
.cr_bg{ width:284px; height:200px; background:#FFF; border:1px solid #ebebeb;}
.cr_tit{ width:284px; height:38px; background:#f7f7f7; border-bottom:1px solid #ebebeb;}
.cr_font{ float:left; width:200px; height:38px; line-height:38px; text-align:left; font-size:14px; font-weight:600; background:url(../images/sy_47.jpg) no-repeat 6px 8px; padding-left:32px;}
.cr_more{ float:right; width:52px; height:28px; text-align:center; padding-top:10px;}
.cr_nr{ width:260px; height:130px; margin:0 auto; padding:15px 0px;}
.cr_nr ul li{ width:240px; line-height:26px; text-align:left; padding-left:20px; background:url(../images/sy_55.jpg) no-repeat 8px 12px; color:#434343;}

.hezuo{ width:100%; height:72px; border-bottom:1px solid #dedede; border-top:1px solid #dedede;}
.hz_fra{ width:1100px; height:72px; margin:0 auto;}
.hz_left{ float:left; width:57px; height:72px;}
.hz_right{ float:right; width:1043px; height:56px; padding:8px 0px;}
.bot_left{ float:left; width:62px; height:38px; text-align:center; padding-top:18px;}
.bot_center{ float:left; width:918px; height:56px;}
.bot_center img{ float:left;}
.bot_right{ float:right; width:63px; height:38px; text-align:center; padding-top:18px;}

.links{ width:100%; height:34px; background:url(../images/sy_119.jpg);}
.links_fra{ width:1100px; height:34px; margin:0 auto;}
.links_left{ float:left; width:84px; line-height:34px; font-size:14px; font-weight:600; text-align:left;}
.links_right{ float:right; width:1016px; height:34px;}
.links_right ul li{ line-height:34px; margin-right:22px; float:left;}

.menu{ width:100%; height:39px; background:url(../images/sy_123.jpg);}
.menu_fra{ width:1100px; height:39px; margin:0 auto;}
.menu_fra ul li{ line-height:39px; float:left; width:137px; text-align:left; font-weight:600;}

.copyright{ width:100%; height:83px; background:url(../images/sy01_06.png);}
.copy_fra{ width:1100px; height:83px; margin:0 auto;}
.copy_left{ width:314px; height:68px; float:left; padding-top:15px; text-align:left;}
.copy_center{ width:500px; height:63px; float:left; text-align:left; color:#FFF; line-height:20px; padding-top:20px;}
.copy_right{ width:286px; height:63px; float:right; padding-top:20px; text-align:center;}


.frame{ width:1100px; height:auto; margin:0 auto;}
.tz_left{ width:803px; height:auto; float:left;}
.tz{ width:803px; height:auto;}
.tz_nr{ width:771px; height:auto; padding:15px; border-bottom:1px solid #a9a9a9; border-left:1px solid #a9a9a9; border-right:1px solid #a9a9a9;}
.tz_one{ width:771px; height:24px; margin-bottom:6px;}
.tz_one_left{ float:left; width:82px; height:24px; line-height:24px; text-align:right;}
.tz_one_right{ float:right; width:689px; height:24px;}
.tz_one_right ul li{ float:left; line-height:24px; margin-left:10px; text-align:center; width:75px;}
.dq{ width:75px; height:24px; background:url(../images/touzi_07.jpg) no-repeat; color:#FFF;}

/*pager css*/
.num{ max-width:803px; height:25px; text-align:center; padding-top:15px; margin:0px auto;}
.num span{ color:#666; display:block; float: left; margin-right:5px; line-height:20px;}
.num a{ display:block; float:left; margin:0px 6px; border:1px solid #eee; border-radius:2px; background-color:#dedede; padding:0px 8px; color:#333; line-height:20px; text-align:center; }
.num a:hover{ background-color:#aaa; color:#fff; border-color:#dedede;}

.pageNum{  margin:0px auto; width:500px;}
.pageNum a{ display:block; float:left; margin:0px 6px; border:1px solid #eee; border-radius:2px; background-color:#dedede; padding:0px 8px; color:#333; line-height:20px; text-align:center; }
.pageNum a:hover{ background-color:#aaa; color:#fff; border-color:#dedede;}
.pageNum span{display:block; float:left; margin:0px 1px; border:none; background-color:none; padding:0px; color:#ddd; line-height:20px; text-align:center;}
.pageNumCur{ background-color:#b11414!important; color:#fff!important; cursor:default;}
/*pager end*/

.juli{ padding-left:20px;}
.tz_right{ width:286px; height:auto; float:right;}


.zh{ width:100%; height:491px; background:url(../images/dl_03.jpg);}
.zh_fra{ width:1100px; height:491px; margin:0 auto;}
.zh_left{ float:left; width:311px; height:92px; padding:133px 117px 0px 140px;}
.zh_right{ float:right; width:239px; height:171px; margin:102px 220px 0px 0px; background:url(../images/dl_06.jpg) no-repeat; padding:72px 34px 0px 34px;}
.zh_bot{ width:239px; height:40px; padding-top:24px; text-align:left;}
.zh_wby{ width:220px; height:36px; line-height:36px; text-align:left; border:0px; margin-bottom:3px; margin-right:19px; margin-top:2px;}

.bz_left{ float:left; width:253px; height:auto;}
.bzl_tit{ width:218px; height:39px; background:url(../images/help_03.jpg); padding-left:35px; line-height:39px; text-align:left; color:#bf1c20; font-family:"微软雅黑"; font-size:14px; font-weight:600;}
.bzl_list{ width:235px; height:auto; border:1px solid #dfdfdf; padding-left:8px; padding-right:8px; padding:0px 8px 18px 8px;}
.bzl_list ul li{ width:209px; height:48px; font-size:14px; font-weight:600; line-height:48px; text-align:left; border-bottom:1px dashed #c4c3c3; padding-left:26px;}
.aqbz{ color:#db6f05; background:url(../images/help_11.jpg) no-repeat 210px 18px;}

.bz_right{ float:right; width:832px; height:auto;}
.bzr_tit{ width:830px; height:42px; border-top:2px solid #c10a0e; border-bottom:1px solid #d1d1d1; border-left:1px solid #d1d1d1; border-right:1px solid 
#d1d1d1; background:url(../images/help_06.jpg);}
.bzr_tit ul li{ float:left; width:110px; font-size:14px; font-weight:600; line-height:42px; border-right:1px solid #d1d1d1;}
.bzr_qian{ background:#c10a0e; color:#FFF;}
.bzr_nr{ width:806px; padding-top:18px; height:auto; margin:0 auto;}
.bzr_nr ul li{ text-align:left; width:781px; line-height:46px; border-bottom:1px dashed #dedede; font-size:14px; font-weight:600; background:url(../images/help_15.jpg) no-repeat 10px 20px; padding-left:25px;}

.xx{ width:100%; height:4318px; background:#dbdada; padding:8px 0px;}
.xx_fra{ width:1100px; height:auto; margin:0 auto;}
.xx_left{ float:left; width:800px; height:auto;}
.xx_one{ width:798px; height:320px; border:1px solid #c4c3c3; background:#FFF;}
.xxo_bor{ width:798px; height:173px; border-bottom:1px solid #c4c3c3;}
.xxo_left{ float:left; width:263px; height:165px; border-right:1px solid #c4c3c3; text-align:center; padding-top:8px;}
.xxo_right{ float:right; width:534px; height:173px; background:#f5f5f5;}
.xxo_one{ width:534px; height:112px; border-bottom:1px solid #c4c3c3; padding-top:14px;}
.xxo_font{ width:520px; line-height:32px; text-align:left; padding-left:14px; font-size:14px;}
.xx_font{ width:520px; padding-left:14px; line-height:34px; padding-top:3px; text-align:left;}
.zi14{ font-size:14px;}
.tzxx{ width:798px; height:130px; padding-top:15px;}
.tzxx_left{ float:left; width:314px; height:130px; padding-left:85px; line-height:28px; text-align:left; font-size:14px; letter-spacing:1px;}
.tzxx_right{ float:right; width:331px; height:130px; border-left:1px solid #c4c3c3; padding-left:67px; line-height:28px; text-align:left; letter-spacing:1px; font-size:14px;}
.cu{ font-weight:600;}

.wenzi{ width:798px; height:auto; border:1px solid #c4c3c3; background:#FFF; padding-bottom:12px;}
.wz_one{ width:780px; height:22px; border-bottom:2px solid #c10a0e; color:#c10a0e; line-height:22px; padding-left:18px; text-align:left; font-size:14px; font-weight:600; margin-top:8px;}
.wz_nr{ width:762px; height:auto; line-height:20px; text-align:left; padding:5px 18px 0px 18px; text-indent:25px;}

.xx_right{ float:right; width:285px; height:auto;}

.blank_block{ width:803px; min-height:160px; background:#FFF;  padding:0px; margin:0px auto;}

.blank_block_title{ width:793px; height:32px;background:url(../images/touzi_title.jpg) no-repeat; text-align:left; font-size:18px; font-weight:bold; padding-top:13px; padding-left:10px; color:#fff;}

.blank_block_content{ padding:20px; text-align:left; background:#f6f6f6;}

.reg{ font-size:18px; line-height:36px; font-family:"微软雅黑", "黑体"; padding-left:25%;}
.reg p{ padding:3px; margin:0px;}
.reg div{ font-size:12px;}
.reg .input_item{ height:36px; line-height:36px; border: solid 1px #adadad; margin-bottom:-5px; width:200px; font-size:18px;}
.reg .input_item:focus{ border:1px solid #0F9;}


.btn_login{ background:url(../images/dl01_03.jpg) no-repeat center; width:109px!important; height:40px!important; border:none!important; cursor:pointer;}
.btn_reg{ background:url(../images/dl01_05.jpg) no-repeat center; width:109px!important; height:40px!important; border:none!important; cursor:pointer;}

.zh_wby:focus{ border:none;}

.tip_f{
	font-size:12px;
	text-align:left;
	padding:5px;
	color:#F66;
	display:block;
	text-indent:100px;
	line-height:16px;
	height:16px;
	width:90%;
}
.tip_p{
	font-size:12px;
	text-align:left;
	padding:5px;
	color:#390;
	display:block;
	text-indent:100px;
	line-height:16px;
	height:16px;
	width:90%;
}
.tip_n{ font-size:12px; text-align:left; padding:5px; color:#999;  display:block; text-indent:100px; line-height:16px; height:16px; width:90%;}
.nav ul li a{ width:95px; height:69px; float:left; text-align:center; line-height:69px; font-family:"微软雅黑"; font-size:14px; font-weight:600; display:block}
.nav ul li a:hover{width:95px; height:69px; color:#DB120B;}

.profile{ width:800px; padding:20px 2px; font-family:"微软雅黑", "黑体";}
.profile .avatar{ width:120px; height:120px; padding:1px; border:1px solid #999; margin:3px; float:left;}
.profile .avatar img{ border:none; width:120px; height:120px;}
.profile .user_info{ width:440px; height:120px; float:left; padding-left:20px;}
.profile .user_info .user_name{ width:480px; height:40px; font-size:20px; font-weight:bold; float:none; text-align:left; line-height:38px;}
.profile .user_info .user_safelv{ float:none; text-align:left; height:40px; line-height:38px;}
.profile .user_info .user_safetag{ float:none; text-align:left; font-size:12px; height:30px; padding-top:6px;}
.profile .user_info .user_safetag div{ float:left; width: 29px; height:30px; padding:1px; margin:0px 2px; cursor:pointer;}
.profile .total_profit{ width:200px; height:120px; float:right; text-align:center; font-size:32px; line-height:50px;}

.id_verify_yes{ background:url(../images/icon/shenfenrenzhengH.png) no-repeat center;}
.id_verify_no{ background:url(../images/icon/shenfenrenzheng.png) no-repeat center;}
.email_verify_yes{ background:url(../images/icon/youjianrenzhengH.png) no-repeat center;}
.email_verify_no{ background:url(../images/icon/youjianrenzheng.png) no-repeat center;}
.mobile_verify_yes{ background:url(../images/icon/shoujirenzhengH.png) no-repeat center;}
.mobile_verify_no{ background:url(../images/icon/shoujirenzheng.png) no-repeat center;}
.pwd_verify_yes{ background:url(../images/icon/zhifumimaH.png) no-repeat center;}
.pwd_verify_no{ background:url(../images/icon/zhifumima.png) no-repeat center;}

.profile_l{ width:220px; padding:5px; font-family:"微软雅黑", "黑体";}
.profile_l .avatar{ width:60px; height:60px; padding:1px; border:1px solid #999; margin:10px 1px 1px 1px; float:left;}
.profile_l .avatar img{ border:none; width:60px; height:60px;}
.profile_l .user_info{ width:140px; height:80px; float:left; padding-left:6px;}
.profile_l .user_info .user_name{ height:30px; font-size:20px; font-weight:bold; float:none; text-align:left; line-height:30px;}
.profile_l .user_info .user_safelv{ float:none; text-align:left; height:16px; line-height:16px;}
.profile_l .user_info .user_safetag{ float:none; text-align:left; font-size:12px; height:30px; padding-top:4px;}
.profile_l .user_info .user_safetag div{ float:left; width: 29px; height:30px; padding:1px; margin:0px 2px; cursor:pointer;}

.btm_border{ border-bottom: 1px solid #E4E4E4;}

.progress_80{ width:80px; height:10px; background:url(../images/progress_bg_80px.jpg) center no-repeat; margin:1px;}
.progress_160{ width:160px; height:10px; background:url(../images/progress_bg_160px.jpg) center no-repeat; margin:1px;}
.progress_bar{ height:10px; background:url(../images/progress_bar.jpg) repeat-x;}



/*touzixiangqing nav*/
.con_nav{width:798px; height:70px; background:#f5f5f5; margin:0 auto; border-bottom:1px solid #c4c3c3;}
.con_nav li{float:left; width:99px; height:67px; text-align:center; line-height:70px; font-size:16px; cursor:pointer;}
.con_nav li a:hover{color:red;}
.con_nav .nav_first{ background:#fff; border-right:1px solid #c4c3c3; border-top:4px solid red; border-left:1px solid #c4c3c3; line-height:62px;}
.con_nav_01{width:1000px; height:70px; background:#f5f5f5; margin:0 auto;}
.btn_bottom{width:100px; height:40px; background:url(../images/top_r2_c2.jpg) no-repeat;  position:fixed; right:0px; bottom:180px;}
.text{position:fixed; top:0;  height:70px; margin:0 auto; border:1px solid #ddd;}
.table_xiangqing{width:762px; height:250px; overflow:auto;}


/*banner*/
/*
.ban_show{width:4400px; height:300px;}
.ban_show li{width:1400px; height:300px; float:left; background:#ccc; }
.ban_show li img{display:block;}
.banner_fra ol{width:90px; height:30px; position:absolute; top:82%; left:70%;}
.banner_fra ol li{width:12px; height:12px; margin:3px 5px;; float:left; list-style:none; border-radius:15px; border:1px solid #999; 
                  background:#ccc; box-shadow: -2px -2px 2px #999 inset; cursor:pointer;}
.banner_fra ol .current{background:#F00; border:1px solid #903; box-shadow: -2px -2px 2px #b20d0d inset;}
<<<<<<< .mine

.ban_left{width:45px; height:45px; background:url(../img/zuo.png) no-repeat; position:absolute; top:50%; left:20%; cursor:pointer;}

.ban_right{width:45px; height:45px; background:url(../img/you.png) no-repeat; position:absolute; top:50%; right:20%; cursor:pointer;}

=======
.ban_left{width:45px; height:45px; background:url(../img/zuo.png) no-repeat; position:absolute; top:240px; left:2%; cursor:pointer;}
.ban_right{width:45px; height:45px; background:url(../img/you.png) no-repeat; position:absolute; top:240px; right:2%; cursor:pointer;}
>>>>>>> .r79*/
.ban_show{width:1100px; height:300px;  position:relative; min-width:1002px;}
.ban_show li{width:1100px; height:300px; background:#ccc;}
.ban_show li img{display:block;}
.banner_fra ol{width:90px; height:30px; position:absolute; top:82%; left:70%;}
.banner_fra ol li{width:12px; height:12px; margin:3px 5px;; float:left; list-style:none; border-radius:15px; border:1px solid #999; 
                  background:#ccc; box-shadow: -2px -2px 2px #999 inset;}
.banner_fra ol .current{background:#F00; border:1px solid #903; box-shadow: -2px -2px 2px #b20d0d inset;}
.ban_left{width:45px; height:45px; background:url(../img/zuo.png) no-repeat; position:absolute; top:50%; left:0;}
.ban_right{width:45px; height:45px; background:url(../img/you.png) no-repeat; position:absolute; top:50%; right:0;}
/*banner over*/

/*yonghuzhongxin */
.msg_con{width:1100px; height:auto;  margin:0 auto; margin-top:50px;}
.msg_left{width:200px; height:550px; float:left; margin-right:12px;}
.msg_right{width:880px; height:auto;  float:left;}
.msg_left_top{width:200px; height:160px; border:1px solid #ccc; border-radius:5px;}
.name{width:200px; height:70px; border-bottom:1px solid #dddddd; position:relative; }
.pic{width:57px; height:57px; background:red; position:absolute; top:-10px; left:10px;
    background:#FFF;   border:1px solid #dddddd; border-radius:5px; padding:2px;}
.pic h3{width:54px; height:54px;  background:url(../img/tubiao-111.jpg) 2px 2px no-repeat; margin:0;}	  
.name span{width:110px; height:55px; float:right; line-height:60px; text-align:center; font-size:16px; color:#3e3e3e;}
.left_btm{width:179px; height:32px;  padding:10px;}
.sp1{width:30px; height:30px;  float:left; margin-left:22px; background:#ebebeb; border-radius:5px;}
.sp1 a{width:20px; height:20px; background:url(../img/tubiao0.png) no-repeat; display:inline-block; margin-top:5px;}
.sp2{width:30px; height:30px;  float:left; margin-left:5px; background:#ebebeb; border-radius:5px;}
.sp2 a{width:20px; height:20px; background:url(../img/tubiao1.png) no-repeat; display:inline-block; margin-top:5px;}
.sp3{width:30px; height:30px;  float:left; margin-left:5px; background:#ebebeb; border-radius:5px;}
.sp3 a{width:20px; height:20px; background:url(../img/tubiao7.png) no-repeat; display:inline-block; margin-top:4px;}
.sp4{width:30px; height:30px;  float:left; margin-left:5px; background:#ebebeb; border-radius:5px;}
.sp4 a{width:20px; height:20px; background:url(../img/tubiao8.png) no-repeat; display:inline-block; margin-top:4px;}
.loadbar{width:138px; height:8px; background:#ebebeb; margin:0 auto; border-radius:5px;}
.red_bar{width:138px; height:8px; border-radius:5px; background:#990000;}
.view{width:138px; height:28px;  margin:0 auto; line-height:28px;}
.view span{float:left;}
.view strong{color:#990000;}
.view a{float:right; color:#3d68ef;}
.msg_left_cent{width:194px; height:auto; margin-top:14px; padding:3px;  border:1px solid #ccc; border-radius:5px;}
.select_nav{width:194px; height:auto;}
.select_nav ul{display:none;}
.select_nav li{width:194; height:40px; background:#FFF; line-height:40px; border-bottom:1px solid #ddd; cursor:pointer;}

.msg_nav{background:#f4f4f4; width:194px; height:40px; line-height:40px; margin-bottom:3px; display:inline-block;}
.msg_nav span{width:50px;  padding-top:2px; cursor:pointer; height:22px; display:inline-block; margin:8px 0 0 5px;; line-height:22px; float:left}
.msg_nav i{width:20px; height:22px; display:inline-block; float:left; margin:8px 0 0 50px}
.msg_nav:hover i{animation: donghua 0.5s ease;-moz-animation: donghua 0.5s ease; -webkit-animation: donghua 0.5s ease; -o-animation: donghua 0.5s ease;}
@keyframes donghua{
0% {transform: rotate(30.0deg);
-moz-transform: rotate(30.0deg); /* FF3.5+ */
-o-transform: rotate(30.0deg); /* Opera 10.5 */
-webkit-transform: rotate(30.0deg); /* Saf3.1+, Chrome */}
	
45%  {transform: rotate(-15.0deg);
-moz-transform: rotate(-15.0deg); /* FF3.5+ */
-o-transform: rotate(-15.0deg); /* Opera 10.5 */
-webkit-transform: rotate(-15.0deg); /* Saf3.1+, Chrome */}

60%  {transform: rotate(10.0deg);
-moz-transform: rotate(10.0deg); /* FF3.5+ */
-o-transform: rotate(10.0deg); /* Opera 10.5 */
-webkit-transform: rotate(10.0deg); /* Saf3.1+, Chrome */}

85%  {transform: rotate(-6.0deg);
-moz-transform: rotate(-6.0deg); /* FF3.5+ */
-o-transform: rotate(-6.0deg); /* Opera 10.5 */
-webkit-transform: rotate(-6.0deg); /* Saf3.1+, Chrome */}

100% {transform: rotate(0deg);
-moz-transform: rotate(0deg); /* FF3.5+ */
-o-transform: rotate(0deg); /* Opera 10.5 */
-webkit-transform: rotate(0deg); /* Saf3.1+, Chrome */}
	
	} 
.bac_change_1{background:url(../img/tubiao9.png) 0 2px no-repeat;}
.bac_change_2{background:url(../img/tubiao12.png) 0 2px no-repeat}
.bac_change_3{background:url(../img/tubiao3.png) 0 2px no-repeat}

.msg_right_top{width:886px; height:33px; border:1px solid #ddd; border-radius:5px;}
.top_tongzhi{float:left; width:60px; height:33px; background:#1368eb; line-height:33px; text-align:center; border-radius:5px; color:#fff;}
.msg_right_top p{float:left; display:inline-block;  margin:9px 0 0 10px;}
.xiangxi{float:left; margin-left:5px; line-height:33px; text-align:center; color:#3d68ef}
.zhidao{float:right; margin-right:5px; line-height:33px;}
.msg_right_cent{width:886px; height:120px; margin-top:18px; border:1px solid #ddd; border-radius:5px;}
.msg_div01{width:294px; height:102px; float:left; border-right:1px solid #ddd; margin-top:10px;}

.div01_left{width:50%; height:100%;  float:left;}
.div01_left .p1{width:130px; height:25px; display:inline-block;}
.div01_top{width:64px; height:20px; text-align:center; float:left; line-height:20px; font-size:14px; margin-left:12px;}
.p1 a{width:15px; height:15px; display:inline-block; background:url(../img/tubiao13.png) no-repeat; float:left; margin-top:2px;}
.div01_left h3{width:90px; height:15px; margin-top:4px; line-height:15px;}
.div01_left strong{font-size:18px;}
.div01_right{width:50%; height:100%;  float:left;}
.div01_right button{margin-top:58px;}
.div01_right .btn_01{width:48px; height:24px; background:#fc6e00; border-radius:3px; display:inline-block; line-height:24px; 
                     color:#fff; border:1px solid #F30; margin-top:45px;}
.div01_right .btn_02{width:48px; height:24px; background:#f5f5f5; border-radius:3px; display:inline-block; line-height:24px; color:#000; border:1px solid #e5e5e5;}
.msg_div02{width:188px; height:102px; float:left; border-right:1px solid #ddd; margin-top:10px;}
.msg_div03{width:188px; height:102px; float:left; border-right:1px solid #ddd; margin-top:10px;}
.msg_div04{width:188px; height:102px; float:left;  margin-top:10px;}
.msg_right_main{width:886px; height:auto; border:1px solid #ddd; border-radius:5px; margin-top:14px;}
.msg_title{width:866px; height:30px; margin:10px auto; border-bottom:2px solid #ddd; color:#000;}
.msg_title a{float:right; color:#3d68ef; margin-top:8px;}
.msg_title h2{width:76px; height:28px; float:left;  margin:2px 0 2px 0; border-bottom:2px solid #818181; font-size:18px;}
.shouyi{width:866px; height:300px; background:#FFF; margin:0 10px;}
.shouyi .sec{width:886px; height:50px;}
.shouyi li{float:left; width:60px; height:30px ; margin-top:10px; text-align:center; line-height:30px; cursor:pointer;}
.bac_org{background:url(../img/text-1_r2_c2.jpg) 2px 2px no-repeat; color:#fff;}
.shouyi p{margin:20px 288px; float:left; text-align:center; }
.last{width:866px; height:auto;}
.jilu{width:866px; height:50px; background:#f5f5f5; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.jilu li{width:132px; height:30px; float:left; margin:10px 20px; }
.jilu_con{width:866px; height:150px; clear:left; overflow:hidden; border-bottom:2px solid #ddd;}
.jilu_con p{text-align:center; margin-left:360px; line-height:60px;}
.msg_con_bottom p{margin:15px 0; float:right;}
/*over*/

/*用户信息*/
.msg_main{width:886px; height:auto; border:1px solid #ddd; border-radius:5px;}
.user_con{width: 866px; height:300px;  margin:0 auto; border-bottom:1px solid #ddd;}
.photo{width:220px; height:300px; float:left; position:relative; }
.photo span{width:118px; height:118px; background:url(../img/aitouzi02_r2_c.jpg) no-repeat; position:absolute; left:70px; top: 30px;  
            border-radius:5px; border:1px solid #e6e6e6;}
.center{width:450px; height:300px;  float:left;}
.center .user_con_mag{float:left; width:200px;}
.center .user_con_name {float:left; width:200px;}
.center .user_con_name li{width:150px; height:26px;  margin:10px; line-height:26px; text-align:right; font-size:16px;}
.center .user_con_mag li{width:150px; height:26px;  margin:10px; line-height:26px; text-align:left; font-size:16px;}
.user_right{height:300px; float:left;}
.user_right li{width:80px; height:26px; margin:10px; line-height:26px;  font-size:16px; padding-left:10px; color:#3d68ef; 
              background:url(../img/tubiao16.png) 3px 3px no-repeat;}
.user_right .xiangqing{background:url(../img/tubiao15.png) 3px 3px no-repeat; color:#3e3e3e;}
.user_con_last{width:866px; height:400px;  margin:10px auto;}
.center_last{width:450px; height:300px;  float:left; margin-left:218px;}
.user_con_last_name{float:left; width:200px; }
.user_con_last_name li{width:150px; height:26px;  margin:10px; line-height:26px; text-align:right; font-size:16px;}
.user_con_last_mag{float:left; width:200px; }
.user_con_last_mag li{width:150px; height:26px;  margin:10px; line-height:26px; text-align:left; font-size:16px;}
.user_bottom{width:836px; height:100px; background:#fffadc; margin:10px auto; border:1px solid #c2bc88; padding:15px;}
.user_bottom h3{text-align:left; }
.user_bottom ol{padding:0; margin:20px;}
.user_bottom li{text-align:left; margin-top:10px;}





