@charset "utf-8";
/* CSS Document */

body{ margin:0px; padding:0px; font-family:"宋体"; font-size:12px; color:#5d5d5d; text-align:center;}
img{ border:0px;}
.clear{ clear:both;}
.clear_height{ clear:both; height:15px;}
a{ color:#5d5d5d; text-decoration:none;}
a:hover{ color:#333; text-decoration:none;}
ul{ margin:0px; padding:0px; list-style:none;}

.top{ width:100%; height:29px; background:url(../images/sy_02.jpg);}
.top_fra{ width:1100px; height:29px; margin:0 auto;}
.top_left{ float:left; width:550px; height:29px;}
.kefu{ float:left; width:100px; height:29px;}
.phone{ float:right; width:410px; height:29px; text-align:left; padding-left:40px; line-height:29px; font-weight:600; letter-spacing:2px; font-size:14px; background:url(../images/sy_07.jpg) no-repeat 12px 3px;}
.top_right{ float:right; width:530px; height:25px; padding-right:20px; text-align:right; padding-top:4px;}

.zth{ width:1100px; height:76px; margin:0 auto;}
.logo{ width:300px; height:76px; text-align:left; float:left;}
.nav{ float:right; width:600px; height:69px; padding-top:7px; padding-right:10px;}
.nav ul li{ width:95px; height:69px; float:left; text-align:center; line-height:69px; font-family:"微软雅黑"; font-size:14px; font-weight:600;}
#dangqian{ width:95px; height:69px; background:url(../images/sy_20.jpg); color:#FFF;}
.currentNav{ width:95px; height:69px; background:url(../images/sy_20.jpg); color:#FFF!important;}

.banner_bg{ width:100%; min-width:1100px; height:300px; background:url(../images/sy_bg.jpg);}
.banner_fra{ width:1100px; height:300px; margin:0 auto;  position:relative;}

.one{ width:100%; height:31px; background:url(../images/sy_26.jpg);}
.one_fra{ width:1100px; height:31px; margin:0 auto; text-align:left; line-height:31px;}
.red_weight{ color:#eb4644; font-weight:600;}
.one_list{ width:275px; line-height:31px; float:left; text-align:left; letter-spacing:2px;}

.two{ width:1100px; height:138px; margin:0 auto;}
.two_cont{ width:1100px; height:105px; padding-top:20px;}
.two_list,.two_list1,.two_list2{ width:200px; height:105px; float:left; padding-left:116px; padding-right:50px;}
.two_list{ background:url(../images/sy_30.jpg) no-repeat 20px 10px;}
.two_list1{ background:url(../images/sy_33.jpg) no-repeat 20px 10px;}
.two_list2{ background:url(../images/sy_35.jpg) no-repeat 20px 10px;}
.two_tit{ width:200px; line-height:30px; text-align:left; font-size:18px; font-family:"微软雅黑"; font-weight:600;}
.two_nr{ width:200px; line-height:18px; text-align:left; color:#2d2d2d; padding-top:3px;}
.hong{ color:#bc3726;}
.two_pic{ width:1100px; height:13px;}

.content{ width:100%; min-height:653px; padding:15px 0px; background:#f8f8f8;}
.content_fra{ width:1100px; min-height:653px; margin:0 auto;}
.cont_left{ float:left; width:803px; height:auto;}
.ckxq{ width:803px; height:246px;}
.ckxq_bg{ width:530px; height:37px; background:url(../images/sy_44.jpg); padding-top:24px; padding-left:273px; letter-spacing:1px; font-size:14px; font-weight:600; text-align:left;}
.ckxq_red{ font-size:18px; font-family:"微软雅黑"; font-weight:600; color:#c72c32;}
.ckxq_red1{ font-size:14px; font-family:"微软雅黑"; font-weight:600; color:#c72c32;}
.xq_tab{ width:735px; height:184px; background:#fff; border-bottom:1px solid #b1b1b1; border-left:1px solid #b1b1b1; border-right:1px solid #b1b1b1; padding:0px 40px 0px 26px;}
.xq_left{ float:left; width:184px; height:112px; border:1px solid #c4c3c3; text-align:center; padding:6px;}
.xq_left a{margin:0; display:inline-block;}
.xq_left a p{margin:0; display:inline-block;}
.xq_right{ float:right; width:492px; height:184px;}
.xq_table{ width:490px; height:84px; border:1px solid #cdcdcd; background:url(../images/sy_60.jpg);}
.xq01{ float:left; width:104px; height:84px;}
.xq02{ float:left; width:102px; height:84px; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd;}
.xq03{ float:left; width:145px; height:84px;}
.xq04{ float:right; width:135px; height:84px; border-left:1px solid #cdcdcd;}
.xq01_tit{ line-height:36px; text-align:left; padding-left:10px; letter-spacing:1px;}
.xq01_nr{ text-align:center; line-height:40px; font-family:"微软雅黑"; font-size:18px; font-weight:600;}
.xq04_nr{ text-align:center; padding-top:9px;}
.jindu{ width:490px; height:28px; padding-top:5px;}
.jindu_font{ float:left; width:208px; height:28px; line-height:28px; text-align:left; font-size:14px; font-weight:600; padding-left:10px; letter-spacing:1px;}
.jindu_pic{ float:right; width:272px; height:20px; text-align:left; padding-top:8px;}
.jd_right{ float:right; width:272px; line-height:28px; text-align:left; font-size:14px; font-weight:600; letter-spacing:1px;}
.jd_font{ width:490px; height:28px;}
.qucu{ font-weight:normal;}
.ind_list{ width:735px; height:160px; background:#FFF; border:1px solid #b2b2b2; padding:25px 40px 0px 26px;}
.ind_right{ float:right; width:492px; height:160px;}
.tuijian{ width:492px; letter-spacing:1px; padding-bottom:5px; height:25px; padding-top:5px;}
.tj_left{ float:left; width:270px; height:23px; line-height:23px; font-size:14px; font-weight:600; text-align:left;}
.hong a:hover{color:#ed5f59;}
.tj_right{ float:right; width:205px; height:23px; text-align:left;}
.tj_jd{ float:left; width:120px; height:23px; line-height:23px;}
.tj_jd_pic{ float:right; width:82px; height:16px; padding-top:7px;}

.cont_right{ float:right; width:286px; height:auto;margin-top:15px;}
.cr_bg{ width:284px; height:200px; background:#FFF; border:1px solid #ebebeb;}
.cr_tit{ width:284px; height:38px; background:#f7f7f7; border-bottom:1px solid #ebebeb;}
.cr_font{ float:left; width:200px; height:38px; line-height:38px; text-align:left; font-size:14px; font-weight:600; background:url(../images/sy_47.jpg) no-repeat 6px 8px; padding-left:32px;}
.cr_more{ float:right; width:52px; height:28px; text-align:center; padding-top:10px;}
.cr_nr{ width:260px; height:130px; margin:0 auto; padding:15px 0px;}
.cr_nr ul li{ width:240px; line-height:26px; text-align:left; padding-left:20px; background:url(../images/sy_55.jpg) no-repeat 8px 12px; color:#434343;}

.hezuo{ width:100%; height:72px; border-bottom:1px solid #dedede; border-top:1px solid #dedede;}
.hz_fra{ width:1100px; height:72px; margin:0 auto;}
.hz_left{ float:left; width:57px; height:72px;}
.hz_right{ float:right; width:1043px; height:56px; padding:8px 0px;}
.bot_left{ float:left; width:62px; height:38px; text-align:center; padding-top:18px;}
.bot_center{ float:left; width:760px; height:56px;}
.bot_center img{ float:left;}
.bot_right{ float:right; width:63px; height:38px; text-align:center; padding-top:18px;}

.links{ width:100%; height:34px; background:url(../images/sy_119.jpg);}
.links_fra{ width:1100px; height:34px; margin:0 auto;}
.links_left{ float:left; width:84px; line-height:34px; font-size:14px; font-weight:600; text-align:left;}
.links_right{ float:right; width:1016px; height:34px;}
.links_right ul li{ line-height:34px; margin-right:22px; float:left;}

.menu{ width:100%; height:39px; background:url(../images/sy_123.jpg);}
.menu_fra{ width:1100px; height:39px; margin:0 auto;}
.menu_fra ul li{ line-height:39px; float:left; width:137px; text-align:left; font-weight:600;}
.fir_li{margin-left:220px;}
.copyright{ width:100%; height:83px; background:url(../images/sy01_06.png);}
.copy_fra{ width:1100px; height:83px; margin:0 auto;}
.copy_left{ width:314px; height:68px; float:left; padding-top:15px; text-align:left;}
.copy_center{ width:500px; height:63px; float:left; text-align:left; color:#FFF; line-height:20px; padding-top:20px;}



.frame{ width:1100px; height:auto; margin:0 auto; overflow:hidden}
.tz_left{ width:803px; height:auto; float:left;}
.tz{ width:803px; height:auto;}
.tz_nr{ width:771px; height:auto; padding:15px; border-bottom:1px solid #a9a9a9; border-left:1px solid #a9a9a9; border-right:1px solid #a9a9a9;}
.tz_one{ width:771px; height:24px; margin-bottom:6px;}
.tz_one_left{ float:left; width:82px; height:24px; line-height:24px; text-align:right;}
.tz_one_right{ float:right; width:689px; height:24px;}
.tz_one_right ul li{ float:left; line-height:24px; margin-left:10px; text-align:center; width:75px; cursor:pointer}
.dq{ width:75px; height:24px; background:url(../images/touzi_07.jpg) no-repeat; color:#FFF; }

/*pager css*/
.num{ max-width:803px; height:25px; text-align:center; padding-top:15px; margin:0px auto;}
.num span{ color:#666; display:block; float: left; margin-right:5px; line-height:20px;}
.num a{ display:block; float:left; margin:0px 6px; border:1px solid #eee; border-radius:2px; background-color:#dedede; padding:0px 8px; color:#333; line-height:20px; text-align:center; }
.num a:hover{ background-color:#aaa; color:#fff; border-color:#dedede;}

.pageNum{  margin:0px auto; width:500px;}
.pageNum a{ display:block; float:left; margin:0px 6px; border:1px solid #eee; border-radius:2px; background-color:#dedede; padding:0px 8px; color:#333; line-height:20px; text-align:center; }
.pageNum a:hover{ background-color:#aaa; color:#fff; border-color:#dedede;}
.pageNum span{display:block; float:left; margin:0px 1px; border:none; background-color:none; padding:0px; color:#ddd; line-height:20px; text-align:center;}
.pageNumCur{ background-color:#b11414!important; color:#fff!important; cursor:default;}
/*pager end*/

.juli{ padding-left:20px;}
.tz_right{ width:286px; height:auto; float:right;}


.zh{ width:100%; height:491px; background:url(../images/dl_03.jpg);}
.zh_fra{ width:1100px; height:491px; margin:0 auto;}
.zh_left{ float:left; width:311px; height:92px; padding:133px 117px 0px 140px;}
.zh_right{ float:right; width:239px; height:171px; margin:102px 220px 0px 0px; background:url(../images/dl_06.jpg) no-repeat; padding:72px 34px 0px 34px;}
.zh_bot{ width:239px; height:50px; padding-top:24px; text-align:left;}
.zh_wby{ width:220px; height:36px; line-height:36px; text-align:left; border:0px; margin-bottom:3px; margin-right:19px; margin-top:2px; color:#ccc}
.zh_bot a{display:inline-block; float:right}
.zh_bot input{display:inline-block; float:left}

.bz_left{ float:left; width:253px; height:auto;}
.bzl_tit{ width:218px; height:39px; background:url(../images/help_03.jpg); padding-left:35px; line-height:39px; text-align:left; color:#bf1c20; font-family:"微软雅黑"; font-size:14px; font-weight:600;}
.bzl_list{ width:235px; height:auto; border:1px solid #dfdfdf; padding-left:8px; padding-right:8px; padding:0px 8px 18px 8px;}
.bzl_list ul li{ width:209px; height:48px; font-size:14px; font-weight:600; line-height:48px; text-align:left; border-bottom:1px dashed #c4c3c3; padding-left:26px; cursor:pointer}
.aqbz{color:#db6f05; background:url(../images/help_11.jpg) no-repeat 180px 18px;}
.bzl_list a{width:209px; height:48px; display:inline-block}
.bzl_list a:hover{color:#db6f05; }
.bz_right{ float:right; width:832px; height:auto;}
.bzr_tit{ width:830px; height:42px; border-top:2px solid #c10a0e; border-bottom:1px solid #d1d1d1; border-left:1px solid #d1d1d1; border-right:1px solid 
#d1d1d1; background:url(../images/help_06.jpg);}
.bzr_tit h1{ font-size:20px; line-height:38px; padding-top:4px; margin:0px;}
.bzr_tit ul li{ float:left; width:110px; font-size:14px; font-weight:600; line-height:42px; border-right:1px solid #d1d1d1; cursor:pointer}
.bzr_qian{ background:#c10a0e; color:#FFF;}
.bzr_nr{ width:806px; padding-top:18px; height:auto; margin:0 auto 60px;}
.bzr_nr ul li{ text-align:left; width:781px; line-height:46px; border-bottom:1px dashed #dedede; font-size:14px; font-weight:600; background:url(../images/help_15.jpg) no-repeat 10px 20px; padding-left:25px;}
.bzr_nr li a:hover{color:#ed5f59;}
.xx{ width:100%; min-height:400px; background:#f8f8f8;; padding:8px 0px;}
.xx_fra{ width:1100px; height:auto; margin:0 auto;}
.xx_left{ float:left; width:800px; height:auto;}

.xx_one{ width:798px; height:320px; border:1px solid #c4c3c3; background:#FFF;}
.xxo_bor{ width:798px; height:173px; border-bottom:1px solid #c4c3c3;}
.xxo_left{ float:left; width:263px; height:165px; border-right:1px solid #c4c3c3; text-align:center; padding-top:8px;}
.xxo_right{ float:right; width:534px; height:173px; background:#f5f5f5;}
.xxo_one{ width:534px; height:112px; border-bottom:1px solid #c4c3c3; padding-top:14px;}
.xxo_font{ width:520px; line-height:32px; text-align:left; padding-left:14px; font-size:14px;}
.xx_font{ width:520px; padding-left:14px; line-height:34px; padding-top:3px; text-align:left;}
.zi14{ font-size:14px;}
.tzxx{ width:798px; height:130px; padding-top:15px;}
.tzxx_left{ float:left; width:314px; height:130px; padding-left:85px; line-height:28px; text-align:left; font-size:14px; letter-spacing:1px;}
.tzxx_right{ float:right; width:331px; height:130px; border-left:1px solid #c4c3c3; padding-left:67px; line-height:28px; text-align:left; letter-spacing:1px; font-size:14px;}
.cu{ font-weight:600;}

.wenzi{ width:798px; height:auto; border:1px solid #c4c3c3; background:#FFF; padding-bottom:12px;}
.wz_one{ width:780px; height:22px; border-bottom:2px solid #c10a0e; color:#c10a0e; line-height:22px; padding-left:18px; text-align:left; font-size:14px; font-weight:600; margin-top:8px;}
.wz_nr{ width:762px; height:auto; line-height:3em; text-align:left; padding:5px 18px 0px 18px; text-indent:25px;}

.xx_right{ float:right; width:285px; height:auto;}

.blank_block{ width:803px; min-height:160px; background:#FFF;  padding:0px; margin:0px auto;}

.blank_block_title{ width:793px; height:32px;background:url(../images/touzi_title.jpg) no-repeat; text-align:left; font-size:18px; font-weight:bold; padding-top:13px; padding-left:10px; color:#fff;}

.blank_block_content{ padding:20px; text-align:left; background:#f6f6f6;}

.reg{ font-size:18px; line-height:36px; font-family:"微软雅黑", "黑体"; padding-left:25%;}
.reg p{ padding:3px; margin:0px;}
.reg div{ font-size:12px;}
.reg .input_item{ height:36px; line-height:36px; border: solid 1px #adadad; margin-bottom:-5px; width:200px; font-size:18px;}
.reg .input_item:focus{ border:1px solid #0F9;}


.btn_login{ background:url(../images/dl01_03.jpg) no-repeat center; width:109px!important; height:40px!important; border:none!important; cursor:pointer;}
.btn_reg{ background:url(../images/dl01_05.jpg) no-repeat center; width:109px!important; height:40px!important; border:none!important; cursor:pointer;}

.zh_wby:focus{ border:none;}

.tip_f{
	font-size:12px;
	text-align:left;
	padding:5px;
	color:#F66;
	display:block;
	text-indent:100px;
	line-height:16px;
	height:16px;
	width:90%;
}
.tip_p{
	font-size:12px;
	text-align:left;
	padding:5px;
	color:#390;
	display:block;
	text-indent:100px;
	line-height:16px;
	height:16px;
	width:90%;
}
.tip_n{ font-size:12px; text-align:left; padding:5px; color:#999;  display:block; text-indent:100px; line-height:16px; height:16px; width:90%;}
.nav ul li a{ width:95px; height:69px; float:left; text-align:center; line-height:69px; font-family:"微软雅黑"; font-size:14px; font-weight:600; display:block}
.nav ul li a:hover{width:95px; height:69px; color:#DB120B;}

.profile{ width:800px; padding:20px 2px; font-family:"微软雅黑", "黑体";}
.profile .avatar{ width:120px; height:120px; padding:1px; border:1px solid #999; margin:3px; float:left;}
.profile .avatar img{ border:none; width:120px; height:120px;}
.profile .user_info{ width:440px; height:120px; float:left; padding-left:20px;}
.profile .user_info .user_name{ width:480px; height:40px; font-size:20px; font-weight:bold; float:none; text-align:left; line-height:38px;}
.profile .user_info .user_safelv{ float:none; text-align:left; height:40px; line-height:38px;}
.profile .user_info .user_safetag{ float:none; text-align:left; font-size:12px; height:30px; padding-top:6px;}
.profile .user_info .user_safetag div{ float:left; width: 29px; height:30px; padding:1px; margin:0px 2px; cursor:pointer;}
.profile .total_profit{ width:200px; height:120px; float:right; text-align:center; font-size:32px; line-height:50px;}

.id_verify_yes{ background:url(../images/icon/shenfenrenzhengH.png) no-repeat center;}
.id_verify_no{ background:url(../images/icon/shenfenrenzheng.png) no-repeat center;}
.email_verify_yes{ background:url(../images/icon/youjianrenzhengH.png) no-repeat center;}
.email_verify_no{ background:url(../images/icon/youjianrenzheng.png) no-repeat center;}
.mobile_verify_yes{ background:url(../images/icon/shoujirenzhengH.png) no-repeat center;}
.mobile_verify_no{ background:url(../images/icon/shoujirenzheng.png) no-repeat center;}
.pwd_verify_yes{ background:url(../images/icon/zhifumimaH.png) no-repeat center;}
.pwd_verify_no{ background:url(../images/icon/zhifumima.png) no-repeat center;}

.profile_l{ width:220px; padding:5px; font-family:"微软雅黑", "黑体";}
.profile_l .avatar{ width:60px; height:60px; padding:1px; border:1px solid #999; margin:10px 1px 1px 1px; float:left;}
.profile_l .avatar img{ border:none; width:60px; height:60px;}
.profile_l .user_info{ width:140px; height:80px; float:left; padding-left:6px;}
.profile_l .user_info .user_name{ height:30px; font-size:20px; font-weight:bold; float:none; text-align:left; line-height:30px;}
.profile_l .user_info .user_safelv{ float:none; text-align:left; height:16px; line-height:16px;}
.profile_l .user_info .user_safetag{ float:none; text-align:left; font-size:12px; height:30px; padding-top:4px;}
.profile_l .user_info .user_safetag div{ float:left; width: 29px; height:30px; padding:1px; margin:0px 2px; cursor:pointer;}

.btm_border{ border-bottom: 1px solid #E4E4E4;}

.progress_80{ width:80px; height:10px; background:url(../images/progress_bg_80px.jpg) center no-repeat; margin:1px;}
.progress_160{ width:160px; height:10px; background:url(../images/progress_bg_160px.jpg) center no-repeat; margin:1px;}
.progress_bar{ height:10px; background:url(../images/progress_bar.jpg) repeat-x;}



/*touzixiangqing nav*/
.con_nav{width:798px; height:70px; background:#f5f5f5; margin:0 auto; border-bottom:1px solid #c4c3c3;}
.con_nav li{float:left; width:99px; height:67px; text-align:center; line-height:70px; font-size:16px; cursor:pointer;}
.con_nav li a:hover{color:red;}
.con_nav .nav_first{ background:#fff; border-right:1px solid #c4c3c3; border-top:4px solid red; border-left:1px solid #c4c3c3; line-height:62px;}
.con_nav_01{width:1000px; height:70px; background:#f5f5f5; margin:0 auto;}
.btn_bottom{width:100px; height:40px; background:url(../images/top_r2_c2.jpg) no-repeat;  position:fixed; right:0px; bottom:180px; cursor:pointer;}
.text{position:fixed; top:0;  height:70px; margin:0 auto; border:1px solid #ddd;}
.table_xiangqing{width:762px; height:250px; overflow:auto;}


/*banner*/
/*
.ban_show{width:4400px; height:300px;}
.ban_show li{width:1400px; height:300px; float:left; background:#ccc; }
.ban_show li img{display:block;}
.banner_fra ol{width:90px; height:30px; position:absolute; top:82%; left:70%;}
.banner_fra ol li{width:12px; height:12px; margin:3px 5px;; float:left; list-style:none; border-radius:15px; border:1px solid #999; 
                  background:#ccc; box-shadow: -2px -2px 2px #999 inset; cursor:pointer;}
.banner_fra ol .current{background:#F00; border:1px solid #903; box-shadow: -2px -2px 2px #b20d0d inset;}
<<<<<<< .mine

.ban_left{width:45px; height:45px; background:url(../img/zuo.png) no-repeat; position:absolute; top:50%; left:20%; cursor:pointer;}

.ban_right{width:45px; height:45px; background:url(../img/you.png) no-repeat; position:absolute; top:50%; right:20%; cursor:pointer;}

=======
.ban_left{width:45px; height:45px; background:url(../img/zuo.png) no-repeat; position:absolute; top:240px; left:2%; cursor:pointer;}
.ban_right{width:45px; height:45px; background:url(../img/you.png) no-repeat; position:absolute; top:240px; right:2%; cursor:pointer;}
>>>>>>> .r79*/
.ban_show{width:1100px; height:300px;  position:relative; min-width:1002px;}
.ban_show li{width:1100px; height:300px; background:#ccc;}
.ban_show li img{display:block;}
.banner_fra ol{width:90px; height:30px; position:absolute; top:82%; left:70%;}
.banner_fra ol li{width:12px; height:12px; margin:3px 5px;; float:left; list-style:none; border-radius:15px; border:1px solid #999; 
                  background:#ccc; box-shadow: -2px -2px 2px #999 inset; cursor:pointer}
.banner_fra ol .current{background:#F00; border:1px solid #903; box-shadow: -2px -2px 2px #b20d0d inset;}
.ban_left{width:45px; height:45px; background:url(../img/zuo.png) no-repeat; position:absolute; top:50%; left:0;cursor:pointer;}
.ban_right{width:45px; height:45px; background:url(../img/you.png) no-repeat; position:absolute; top:50%; right:0;cursor:pointer;}
/*banner over*/

/*yonghuzhongxin */
.msg_con{width:1100px; height:auto;  margin:0 auto; margin-top:50px;}
.msg_left{width:200px; height:550px; float:left; margin-right:12px;}
.msg_right{width:880px; height:auto;  float:left;}
.msg_left_top{width:200px; height:160px; border:1px solid #ccc; border-radius:5px;}
.name{width:200px; height:70px; border-bottom:1px solid #dddddd; position:relative; }
.pic{width:57px; height:57px; background:red; position:absolute; top:-10px; left:10px;
    background:#FFF;   border:1px solid #dddddd; border-radius:5px; padding:2px;}
.pic h3{width:54px; height:54px;  background:url(../img/tubiao-111.jpg) 2px 2px no-repeat; margin:0;}	  
.name span{width:110px; height:55px; float:right; line-height:60px; text-align:center; font-size:16px; color:#3e3e3e;}
.left_btm{width:179px; height:32px;  padding:10px; position:relative; }

.btm_hide{width:179px; height:32px; background:pink; position:absolute; top:40px;}

.sp1{width:30px; height:30px;  float:left; margin-left:22px; background:#ebebeb; border-radius:5px;}
.sp1 a{width:20px; height:20px; background:url(../img/tubiao0.png) no-repeat; display:inline-block; margin-top:5px;}
.sp2{width:30px; height:30px;  float:left; margin-left:5px; background:#ebebeb; border-radius:5px;}
.sp2 a{width:20px; height:20px; background:url(../img/tubiao1.png) no-repeat; display:inline-block; margin-top:5px;}
.sp3{width:30px; height:30px;  float:left; margin-left:5px; background:#ebebeb; border-radius:5px;}
.sp3 a{width:20px; height:20px; background:url(../img/tubiao7.png) no-repeat; display:inline-block; margin-top:4px;}
.sp4{width:30px; height:30px;  float:left; margin-left:5px; background:#ebebeb; border-radius:5px;}
.sp4 a{width:20px; height:20px; background:url(../img/tubiao8.png) no-repeat; display:inline-block; margin-top:4px;}
.loadbar{width:138px; height:8px; background:#ebebeb; margin:0 auto; border-radius:5px;}
.red_bar{width:138px; height:8px; border-radius:5px; background:#990000;}
.view{width:138px; height:28px;  margin:0 auto; line-height:28px;}
.view span{float:left;}
.view strong{color:#990000;}
.view a{float:right; color:#3d68ef;}
.msg_left_cent{width:194px; height:auto; margin-top:14px; padding:3px;  border:1px solid #ccc; border-radius:5px;}
.select_nav{width:194px; height:auto;}
.select_nav ul{display:none;}
.select_nav li{width:194; height:40px; background:#FFF; line-height:40px; border-bottom:1px solid #ddd; cursor:pointer;}

.msg_nav{background:#f4f4f4; width:194px; height:40px; line-height:40px; margin-bottom:3px; display:inline-block;}
.msg_nav span{width:50px;  padding-top:2px; cursor:pointer; height:22px; display:inline-block; margin:8px 0 0 5px;; line-height:22px; float:left}
.msg_nav i{width:20px; height:22px; display:inline-block; float:left; margin:8px 0 0 50px}
.msg_nav:hover i{animation: donghua 0.5s ease;-moz-animation: donghua 0.5s ease; -webkit-animation: donghua 0.5s ease; -o-animation: donghua 0.5s ease;}
@keyframes donghua{
0% {transform: rotate(30.0deg);
-moz-transform: rotate(30.0deg); /* FF3.5+ */
-o-transform: rotate(30.0deg); /* Opera 10.5 */
-webkit-transform: rotate(30.0deg); /* Saf3.1+, Chrome */}
	
45%  {transform: rotate(-15.0deg);
-moz-transform: rotate(-15.0deg); /* FF3.5+ */
-o-transform: rotate(-15.0deg); /* Opera 10.5 */
-webkit-transform: rotate(-15.0deg); /* Saf3.1+, Chrome */}

60%  {transform: rotate(10.0deg);
-moz-transform: rotate(10.0deg); /* FF3.5+ */
-o-transform: rotate(10.0deg); /* Opera 10.5 */
-webkit-transform: rotate(10.0deg); /* Saf3.1+, Chrome */}

85%  {transform: rotate(-6.0deg);
-moz-transform: rotate(-6.0deg); /* FF3.5+ */
-o-transform: rotate(-6.0deg); /* Opera 10.5 */
-webkit-transform: rotate(-6.0deg); /* Saf3.1+, Chrome */}

100% {transform: rotate(0deg);
-moz-transform: rotate(0deg); /* FF3.5+ */
-o-transform: rotate(0deg); /* Opera 10.5 */
-webkit-transform: rotate(0deg); /* Saf3.1+, Chrome */}
	
	} 
.bac_change_1{background:url(../img/tubiao9.png) 0 2px no-repeat;}
.bac_change_2{background:url(../img/tubiao12.png) 0 2px no-repeat}
.bac_change_3{background:url(../img/tubiao3.png) 0 2px no-repeat}

.msg_right_top{width:886px; height:33px; border:1px solid #ddd; border-radius:5px;}
.top_tongzhi{float:left; width:60px; height:33px; background:#1368eb; line-height:33px; text-align:center; border-radius:5px; color:#fff;}
.msg_right_top p{float:left; display:inline-block;  margin:9px 0 0 10px;}
.xiangxi{float:left; margin-left:5px; line-height:33px; text-align:center; color:#3d68ef}
.zhidao{float:right; margin-right:5px; line-height:33px;}
.msg_right_cent{width:886px; height:120px; margin-top:18px; border:1px solid #ddd; border-radius:5px;}
.msg_div01{width:294px; height:102px; float:left; border-right:1px solid #ddd; margin-top:10px;}

.div01_left{width:50%; height:100%;  float:left;}
.div01_left .p1{width:130px; height:25px; display:inline-block;}
.div01_top{width:64px; height:20px; text-align:center; float:left; line-height:20px; font-size:14px; margin-left:12px;}
.p1 a{width:15px; height:15px; display:inline-block; background:url(../img/tubiao13.png) no-repeat; float:left; margin-top:2px;}
.div01_left h3{width:90px; height:15px; margin-top:4px; line-height:15px;}
.div01_left strong{font-size:18px;}
.div01_right{width:50%; height:100%;  float:left;}
.div01_right button{margin-top:58px;}
.div01_right .btn_01{width:48px; height:24px; background:#fc6e00; border-radius:3px; display:inline-block; line-height:24px; 
                     color:#fff; border:1px solid #F30; margin-top:45px;}
.div01_right .btn_02{width:48px; height:24px; background:#f5f5f5; border-radius:3px; display:inline-block; line-height:24px; color:#000; border:1px solid #e5e5e5;}
.msg_div02{width:188px; height:102px; float:left; border-right:1px solid #ddd; margin-top:10px;}
.msg_div03{width:188px; height:102px; float:left; border-right:1px solid #ddd; margin-top:10px;}
.msg_div04{width:188px; height:102px; float:left;  margin-top:10px;}
.msg_right_main{width:886px; height:auto; border:1px solid #ddd; border-radius:5px; margin-top:14px;}
.msg_title{width:866px; height:30px; margin:10px auto; border-bottom:2px solid #ddd; color:#000;}
.msg_title a{float:right; color:#3d68ef; margin-top:8px;}
.msg_title h2{width:76px; height:28px; float:left;  margin:2px 0 2px 0; border-bottom:2px solid #818181; font-size:18px;}
.shouyi{width:866px; height:300px; background:#FFF; margin:0 10px;}
.shouyi .sec{width:886px; height:50px;}
.shouyi li{float:left; width:60px; height:30px ; margin-top:10px; text-align:center; line-height:30px; cursor:pointer;}
.bac_org{background:url(../img/text-1_r2_c2.jpg) 2px 2px no-repeat; color:#fff;}
.shouyi p{margin:20px 288px; float:left; text-align:center; }
.last{width:866px; height:auto;}
.jilu{width:866px; height:50px; background:#f5f5f5; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.jilu li{width:132px; height:30px; float:left; margin:10px 20px; }
.jilu_con{width:866px; height:150px; clear:left; overflow:hidden; border-bottom:2px solid #ddd;}
.jilu_con p{text-align:center; margin-left:360px; line-height:60px;}
.msg_con_bottom p{margin:15px 0; float:right;}
/*over*/

/*用户信息*/
.msg_main{width:886px; height:auto; border:1px solid #ddd; border-radius:5px;}
.user_con{width: 866px; height:300px;  margin:0 auto; border-bottom:1px solid #ddd;}
.photo{width:220px; height:300px; float:left; position:relative; }
.photo span{width:118px; height:118px; background:url(../img/aitouzi02_r2_c.jpg) no-repeat; position:absolute; left:70px; top: 30px;  
            border-radius:5px; border:1px solid #e6e6e6;}
.center{width:340px; height:300px;  float:left;}
.center .user_con_mag{float:left; width:200px;}
.center .user_con_name {float:left; width:340px;}
.center .user_con_name li{width:110px; height:26px;  margin:10px; line-height:26px; text-align:right; font-size:16px; float:left; }
.center .user_con_mag li{width:80px; height:26px;  margin:10px; line-height:26px; text-align:left; font-size:16px;}
.user_right{height:300px; float:left; position:relative; width:306px}
.user_check li{width:260px; height:26px; padding:10px; line-height:26px;  font-size:16px; padding-left:10px; color:#3d68ef; 
              }
.user_check li p{width:50px; height:28px; margin:10px; display:inline-block; float:right; padding-left:36px; background:url(../img/tubiao16.png) 3px 3px no-repeat; margin:0; cursor:pointer}           
/*tanchukuang*/
.box_m{position:absolute; right:100px;}
.box_m li{width:370px; height:26px; margin:10px; line-height:26px;  font-size:16px; padding-left:10px; color:#3d68ef;}             
.user_right .xiangqing{background:url(../img/tubiao15.png) 3px 3px no-repeat; color:#3e3e3e;}
.box_left{width:9px; height:28px; background:url(../img/you01.png) no-repeat; display:inline-block; float:right;}
.box_center{width:auto; height:28px; background:url(../img/zhong01.png) repeat-x; float:right; font-size:12px; line-height:28px; padding:0 15px; color:#000}
.box_center a{color:#3d68ef;}
.box_right{width:3px; height:28px; background:url(../img/zuo01.png) no-repeat; display:inline-block; float:right;}
.box_check{width:380px; height:28px; position:absolute; right:118px; line-height:28px;}

.user_bottom{width:836px; height:100px; background:#fffadc; margin:10px auto; border:1px solid #c2bc88; padding:15px;}
.user_bottom h3{text-align:left; }
.user_bottom ol{padding:0; margin:20px;}
.user_bottom li{text-align:left; margin-top:10px;}

.user_con_last{width:866px; height:710px;  margin:10px auto;}
.center_last{width:650px; height:300px;  float:left; margin-left:146px;}
.user_con_last_name{float:left; width:200px; }
.user_con_last_name li{width:180px; height:30px;  margin:10px; line-height:30px; text-align:right; font-size:16px;}
.user_con_last_mag{float:left; width:200px; margin-left:99px;}
.user_con_last_mag li{width:200px; height:30px;  margin:30px 10px; line-height:30px; text-align:left; font-size:16px;}
.text01{width:216px; height:30px; border:1px solid #ccc; border-radius:3px;}
.select01{width:220px; height:30px; border:1px solid #ccc; border-radius:3px;}
.submit01{width:60px; height:30px; background:#fc6e00; border-radius:3px; display:inline-block; line-height:24px; 
          color:#fff; border:1px solid #F30; }
.submit02{width:60px; height:30px; border-radius:3px; display:inline-block; line-height:24px; background:#e6e6e6;
          color:#000; border:1px solid #999; margin-left:15px}
/*production_jianjie*/
.main_con{width:1100px; height:auto; margin:0 auto; padding-top:30px}
.main_left{width:735px; height:2780px; background:#fff; float:left; border:1px solid #e5e5e5; border-radius:5px; margin-bottom:25px}
.main_left h1{margin:20px; text-align:left; color:#000;}

.person{width:700px; height:30px; margin-left:20px;}
.person a{float:left; margin:6px; color:#000;}
.person a:hover{color:#ed5f59;}
.person span{display:block; float:left; width:50px; height:25px; line-height:25px;}
.faqiren{ background:#ff6559;  border-radius:5px; color:#fff; }
#jianjie_nav{width:694px; height:60px; border-bottom:1px solid #e5e5e5; padding:0 20px; background:#fff}
#jianjie_nav a{width:90px; height:40px; background:#ededed; display:block; float:left; margin:20px 10px 0 0; line-height:40px; border-radius:5px 5px 0 0; font-size:16px;}
#jianjie_nav a:hover{color:#ed5f59;}
#jianjie_nav span{width:90px; height:40px; float:right;  margin:18px 10px 0 0; border-radius:5px; font-size:18px; line-height:40px;}
#jianjie_nav .style01{width:90px; height:40px; border:1px solid #ccc; background:#fff; border-bottom:0; color:#ed5f59;}
.sp_bac01{background:#59d3ed; color:#fff; cursor:pointer}
.sp_bac02{background:#ed5f59;color:#fff; cursor:pointer}
.jianjie_con{width:735px; height:auto;}
.jianjie_con h1{text-align:left;}
.profile{width:690px; height:auto; padding:0 20px; text-align:left; font-size:14px}
.profile a{width:650px; height:460px; margin:10px auto; display:block}
.biaoqian01{width:690px; height:50px;  margin:23px auto 0; border-top:1px dashed #ccc}
.biaoqian01 p{width:80px; height:30px;  display:inline-block; float:left; line-height:30px; text-align:center; float:left;}
.biaoqian01 a{margin-left:10px; display:inline-block; color:#ed5f59;;}
.biaoqian01 .biaoqian02{width:240px; height:30px;  margin-left:40px; float:left;  display:inline-block; }
.con_bott{width:705px; height:auto; background:#fff; padding:15px 15px 60px; clear:both; border-radius:5px; position:relative; }
.con_bott:after{conten:".";height=0;visibility:hidden;display:block;clear:both;}
.jinzhan{width:705px; height:40px; line-height:40px}
.jinzhan h2{display:inline-block; float:left}
.jinzhan a{display:inline-block; font-size:14px; color:#ed5f59; float:right; margin:0 10px}
.grop{display:inline-block; width:645px; height:20px; border:1px solid #e5e5e5;  padding:5px 25px; line-height:20px; text-align:left; border-radius:5px;
      background:url(../img/jing.png) 3px 3px no-repeat;}
.touxiang{width:705px; height:80px; }
.touxiang a{width:54px; height:54px; float:left; margin-left:99px; display:inline-block; margin-top:25px; background:url(../img/touxiang01.png) no-repeat; border-radius:50%;}
.touxiang span{width:42px; height:22px;  float:left; margin-top:45px; line-height:22px}
.redname{background:#ed5f59; border-radius:5px; color:#fff; margin-left:10px}
.con01{width:705px; height:auto; position:relative; overflow:hidden; margin-bottom:5px}
.cin{width:705px; height:auto; background:url(../img/12.png) 125px 100% no-repeat;}
.tag_time{width:70px; height:15px; background:url(../img/xiaoyuandian.png) no-repeat; background-position:74px 0px; position:absolute; top:9px; left:44px; line-height:18px;          z-index:2; text-align:right; padding-right:20px;}
.tag_con{width:530px; height:60px;  text-align:left; font-size:14px; margin:15px 0 0 164px;}
.dash{width:560px; height:80px; background:pink; clear:both}
.tag_name{width:560px; height:auto; border-bottom:1px dashed #e5e5e5; margin-left:164px;}
.tag_bot{width:530px; height:26px;  cursor:pointer; border-bottom:1px dashed #e5e5e5; margin-left:164px;}
.tag_bot a{float:right; color:#ed5f59;}
.tag_text{width:524px; height:80px; background:#f3f3f3;}
.tag_quote{width:524px; height:25px; }
.textarea01{width:488px; height:40px; border:1px solid #ccc; margin-top:8px;}
.tag_text_bottom{width:500px; height:30px; text-align:right; line-height:30px}
.tag_text_bottom a{color:#ed5f59;}
.red_solid{width:5px; height:1100px; background:url(../img/12.png) no-repeat;  position:absolute; top:178px; left:140px; z-index:1px}
.bott_four{width:670px; height:280px; background:#fff; margin:30px; border-radius:5px}
.bott_four li{width:320px; height:120px;  float:left; margin:7px;}
.bott_pic1{width:98px; height:100px; background:url(../img/lala01.jpg) no-repeat; border:1px solid #e5e5e5; border-radius:5px; float:left}
.bott_pic1 span{width:98px; height:23px; background:#ed5f59; display:inline-block; margin-top:77px; border-radius:0 0 5px 5px; color:#fff; line-height:23px}
.pic1_right{width:200px; height:100px; float:right; cursor:pointer}
.pic1_right a:hover{color:#ed5f59;}
.pic1_right h3{text-align:left;}
.pic1_right span{width:200px; display:inline-block; text-align:left; margin-top:15px}
.pic1_right  strong{color:#ed5f59;}
/*right*/
#main_right{width:335px; height:2737px;  float:right;}
.right_fix{position:fixed; bottom:0; right:0}
.m_r_top{width:335px; height:72px; background:#fff; border:1px solid #e5e5e5; border-radius:5px;}
.m_r_top span{ color:#fff; width:130px; height:50px; display:inline-block; margin:10px; line-height:50px; font-size:24px; box-shadow:5px 5px #ccc; border-radius:5px;}
.m_r_blue{background:#59d3ed; cursor:pointer}
.m_r_red{background:#ed5f59; cursor:pointer}
.m_r_top .xin{width:130px; height:50px; background:url(../img/xin.png) 15px 15px no-repeat; display:inline-block; margin-left:15px;}
.m_r_top .zhichi{width:130px; height:50px; background:url(../img/zhichi.png) 15px 15px no-repeat; display:inline-block; margin-left:15px;}
.m_r_cent{width:335px; height:300px; background:#fff; margin-top:20px; border:1px solid #e5e5e5; border-radius:5px; position:relative}
.m_r_cent span{display:inline-block; font-size:16px; width:284px; text-align:left; margin-top:20px; color:#000;}
.m_r_cent p{display:inline-block; width:284px; text-align:left;  margin:10px 0 5px 0; font-size:20px; color:#000}
.m_r_cent p strong{font-size:40px;}
.m_r_cent a{width:118px; height:46px; position:absolute; top:10px; right:-16px; background:url(../img/13.png) no-repeat; font-size:18px; color:#fff; line-height:38px}
.bur{width:284px; text-align:left;  margin-top:10px;}
.bur strong{color:#ed5f59;}
.bar_aini{width:335px; height:40px; border-bottom:1px dashed #e5e5e5; border-top:1px dashed #e5e5e5; margin-top:15px;}
.bar_body{width:250px; height:15px; background:#f2f2f2; margin:12px  0 0 20px; border-radius:15px; float:left}
.bar_body div{width:50%; height:15px; background:#ed5f59; border-radius:15px;}
.shu{float:left; height:15px; width:25px; font-size:14px;}
.shu1{float:left; height:15px; width:25px; font-size:14px; margin:10px 0 0 20px;}
.dibu{width:335px; height:80px;}
.dibu span{width:100px; height:60px; margin:10px 0 0 0; background:#fff; display:inline-block}
.cen{border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.dibu p{display:inline-block; width:80px; height:20px; margin-top:5px; font-size:14px; text-align:center; }
.dibu p strong{font-size:20px;}
.m_r_bott{width:305px; height:300px; background:#fff; margin-top:20px; border:1px solid #e5e5e5; border-radius:5px; padding:15px;}
.aside01{width:305px; height:50px; border-bottom:1px dashed #e5e5e5;  }
.aside01 a{display:inline-block; font-size:22px; color:#000; float:left; margin-top:13px}
.aside01 em{font-style: normal; color:#ed5f59;}
.aside01 p{display:inline-block; float:right; margin-top:19px}
.aside02{width:305px; height:190px; text-align:left; font-size:14px;}
.m_r_bott span{width:100px; height:40px; background:#ed5f59; display:inline-block; font-size:18px; color:#fff; line-height:40px; 
               float:left; border-radius:5px; margin-top:20px; box-shadow:0px -5px 5px #B00 inset; cursor:pointer}
.guanggao{width:310px; height:200px; background:#fff; margin-top:20px; border:1px solid #e5e5e5; border-radius:5px; padding:5px;}
.guanggao img{border-radius:5px;}

/*jianjie nav*/
.test{position:fixed; top:0; }

/*bottom*/
.locus{width:100%; height:160px; background:#5a5a5a; margin:0 auto; border-bottom:1px solid #3a3a3a;}
.repeat{width:100%; height:120px; background:#505050; margin:0 auto; border-top:1px solid #757575;}
.fenlan{width:1000px; height:196px; margin:0 210px;}
.fenlan dl{width:245px; height:190px;  margin:0; float:left; text-align:left; }
.fenlan dt{width:220px; height:40px;  margin-top:27px; font-size:16px; color:#ffa349;}
.fenlan dd {width:220px; height:22px;  margin:0 10px 0 0;}
.fenlan dd a{color:#fff;}
.fenlan dd em{color:#ccc;}
.repeat_top{width:800px; height:70px; margin:20px 0 0 210px; }
.repeat_top span{display:inline-block; float:left;  color:#fff;}
.repeat_top p{display:inline-block;  margin:10px 0; float:left;}
.repeat_top a{display:inline-block; float:left; margin-left:18px; color:#fff;}
.repeat_bottom{width:800px; height:20px;  margin-left:210px; text-align:left;  color:#ccc;}

/*header*/
.logo01{ width:188px; height:76px; text-align:left; float:left;}
.nav_01{ float:left; width:475px; height:69px; padding-top:7px; padding-right:10px;}
.nav_01 a:hover{color:#ed5f59}
.nav_01 ul li{ width:95px; height:69px; float:left; text-align:center; line-height:69px; font-family:"微软雅黑"; font-size:14px; font-weight:400;}
.nav_01 li a{width:95px; height:65px; display:inline-block;}
.li_red_bott{border-bottom:4px solid #ed5f59; color:#ed5f59;}
.zth_01{ width:1100px; height:76px; margin:0 auto;}
.nav_search{width:160px; height:35px; background:; float:left; margin-top:24px;}
.search_border{width:180px; height:26px; border:2px solid #e5e5e5; border-radius:20px;}
.input{border:none; color:#a5a5a5; padding:3px; height:26px; width:140px; float:left; margin-left:9px; color:#ccc;}
.search_border span{width:20px; height:18px; background:url(../img/search1_r2_c2.jpg); float:right; display:block; margin:4px 9px 0 0;}
.denglu{width:100px; height:30px; float:right; margin:25px 80px 0 0;}
.denglu a:hover{color:#ed5f59; cursor:pointer;}
.denglu span{width:40px; height:30px;  line-height:30px; text-align:center; font-size:14px; float:left;}
.deng{border-right:1px solid #ccc; padding-right:9px;}

/*production-show*/
.main{width:100%; height:auto; background:#f8f8f8; padding-top:30px;}
.con_top{width:1100px; height:50px; background:#fff; margin:0 auto; border-bottom:2px solid #ed5e58; }
.content_nav_left{width:800px; height:48px;  float:left;}
.content_nav_left li{width:80px; height:48px;  float:left; line-height:48px; font-size:16px;}
.content_nav_left a{width:80px; height:48px; display:inline-block;}
.content_nav_left a:hover{color:#ed5f59;}
.content_nav_left .nav_left_first{color:#ed5f59;}
.content_nav_right{width:230px; height:48px;  float:left;}
.content_nav_right li{width:60px; height:48px; float:right; line-height:48px}
.content_nav_right a:hover{color:#ed5f59;}
.see{width:1100px; height:35px; margin:20px auto;}
.see_left a{height:33px; float:left; display:inline-block; line-height:33px; border:1px solid #ccc; padding:0 18px; cursor:pointer;}
.see_left a:hover{color:#ed5f59;}
.see_red{background:#ed5e58; color:#fff}
.see_right{width:110px; height:33px;  float:right;}
.see_right select{margin-top:7px;}
.main_content{width:1100px; height:1800px; margin:0 auto; }
.con_floor1{width:1100px; height:auto; }
.main_content ul{width:1130px; height:1700px;}
.clearfix {display: block;}
.main_content ul li{width:260px; height:320px; padding:0 20px 20px 0; float:left;}
.floor_num{width:256px; height:310px;  border:1px solid #e5e5e5; border-radius:5px;}
.floor_img{width:256px; height:170px; display:inline-block;}
.floor_num img{border-radius:5px 5px 0 0;}
.floor_num h3{display:inline-block; width:222px; height:32px; margin:12px 14px; cursor:pointer;}
.floor_num h3 a:hover{color:#ed5f59;}
.shuoming{display:inline-block; text-align:left;}
.aim{width:222px; height:28px;  margin:0px 14px; text-align:left}
.aim span{width:40px; height:30px; display:block; float:left; font-size:14px;}
.aim a{width:46px; height:22px; background:#ff6559; display:inline-block; float:right; line-height:22px; text-align:center; border-radius:5px; color:#fff;}
.loding_bar{width:100%; height:3px; background:#f2f2f2;}
.l_b{width:80%; height:3px; background:#D20000;  margin-top:-2px}
.floor_bottom{width:222px; height:48px; margin:4px 14px; font-size:14px;}
.floor_bottom span{width:69px; height:45px;  display:block; float:left; margin-right:5px;}
.floor_bottom em{font-style: normal;}
.baifenbi{width:60px; height:20px;  display:inline-block; margin-top:7px;}
.redus{width:1100px; height:40px; }
.redus a{width:25px; height:25px; background:#d7d7d7; display:inline-block; float:right; margin:5px 5px 0 0;
         border-radius:15px; line-height:25px; color:#fff; font-size:14px; cursor:pointer}
.redus .redus_last{width:70px; background:none; color:#afa4a4;}
.redus .redus_first{background:#ed5e58;}
.locus{width:100%; height:160px; background:#5a5a5a; margin:0 auto; border-bottom:1px solid #3a3a3a;}
.repeat{width:100%; height:120px; background:#505050; margin:0 auto; border-top:1px solid #757575;}
.fenlan{width:1000px; height:196px; margin:0 210px;}
.fenlan dl{width:245px; height:190px;  margin:0; float:left; text-align:left; }
.fenlan dt{width:220px; height:40px;  margin-top:27px; font-size:16px; color:#ffa349;}
.fenlan dd {width:220px; height:22px;  margin:0 10px 0 0;}
.fenlan dd a{color:#fff;}
.fenlan dd em{color:#ccc;}
.repeat_top{width:800px; height:70px; margin:20px 0 0 210px;}
.repeat_top span{display:inline-block; float:left;  color:#fff;}
.repeat_top p{display:inline-block;  margin:10px 0; float:left;}
.repeat_top a{display:inline-block; float:left; margin-left:18px; color:#fff;}
.repeat_bottom{width:800px; height:20px;  margin-left:210px; text-align:left;  color:#ccc;}

.lactation{ text-align:left; line-height：30px; padding:20px; background:#fff; border:1px solid #c4c3c3;}
.lactation a:hover{}

.news_content{text-align:left; line-height:30px;}
.news_location{text-align:left; line-height:30px; padding:10px 0px; background:#fff;}
.news_location a:hover{color:blue}
.news_list li{ clear:both; padding:0px 20px; font-weight:normal!important;}
.news_list a{ display:block; float:left; padding:0px; width:80%;}
.news_list dt{ display:block; float:right; padding:0px;}

/*help*/

.bzr_nr dl{width:806px; height:auto; }
.bzr_nr dd{ text-align:left; line-height:28px; margin:0 0 30px 0; text-indent:2em; font-size:10pt; }
.bzr_nr p{font-size:16px; text-align:left;}
.dingwei{text-align:left; width:806px; margin-left:22px; line-height:28px; font-size:10pt;}
#shengming li{border-bottom:none; }
.anquan p{width:786px; padding-left:20px; background:url(../img/xiaoyuandian.png) no-repeat; margin-left:26px;}
.anquan div{width:806px;text-align:left; line-height:28px; margin:0 0 30px 0; text-indent:2em; font-size:10pt; }
.contaction{width:766px; height:198px; border:1px solid #ccc; padding:20px;}
.contaction p{ font-size:14px;}

 html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

/*anquanshezhi*/

.renzheng{width:866px; height:auto; border-bottom:1px solid #ddd; margin-bottom:10px; overflow: hidden;}
.renzheng span{display:inline-block; width:100px; height:60px;  float:left; margin-right:20px; line-height:60px}
.renzheng span i{width:40px; height:60px; background:pink; display:inline-block; float:left; background:url(../img/tubiao15.png) 15px 20px no-repeat;}
.renzheng .ren_right{width:60px; height:60px;float:right;  display:inline-block; cursor:pointer; color:blue}
.ren_h{width:866px; height:60px;}
.yincang{width:844PX; height:auto; background:#f5f5f5; border:1px solid #ccc; border-bottom:0; border-right:1px solid #ccc; padding:10px; display:none}
form{padding-top:50px;}
table{margin-left:200px;}
td{width:120px; height:36px; padding-right:30px}
.tr1{margin-top:50px;}
.table_input{width:200px; height:30px; border:1px solid #ccc; border-radius:5px; }
.w_td{width:335px;}

.tb_left{text-align:right; }
.user_bottom01{width:780px; height:145px; background:#fffadc; margin:10px auto; border:1px solid #c2bc88; padding:15px;}
.user_bottom01 h3{text-align:left; }
.user_bottom01 ol{padding:0; margin:20px;}
.user_bottom01 li{text-align:left; margin-top:10px;}
.yincang p{display:inline-block; width:800px; height:40px;}
.yincang span{display:inline-block; width:144px; height:40px; float:left; line-height:40px; text-align:right}
.yincang input{height:40px; margin:0}
.huoqu{width:90px; height:30px; background:#f60; border:1px solid #f90; display:inline-block; text-align:center; border-radius:5px; color:#fff; line-height:30px; font-size:12px}
.next_btn{width:100px; height:30px; background:#f60; border:1px solid #f90; display:inline-block; text-align:center;
          border-radius:5px; color:#fff; line-height:30px; margin-left:160px; float:left; font-size:12px}
.yincang select{height:40px; width:160px}
.yincang .sub_m{margin:0px 18px 0 160px; float:left}
.aa{float:left; height:40px; line-height:40px; color:blue; cursor:pointer; font-size:14px}
.aa:hover{color:blue}
.yincang .pic_car{width:300px; height:180px; background:#fff; display:inline-block}

/*tongzhishezhi*/

.tong{width:866px; height:300px; padding-top:40px;}
.tong li{width:866px; height:60px; border-bottom:1px solid #ccc;}
.tong li span{width:200px; height:60px; display:inline-block; margin-right:5px;  float:left; line-height:60px;}
.tong input{margin-top:23px; }
.check_sub{width:90px; height:30px; background:#f60; border:1px solid #eb6a05; display:inline-block; text-align:center; border-radius:5px; color:#fff; cursor:pointer}

/*chongzhi*/
.user_con01{width: 866px; height:auto;  margin:0 auto;}
.user_con01 p{height:60px; text-align:left; line-height:60px; font-size:16px; padding-left:22px}
.yinhang{width:820px; height:300px; border-bottom:1px solid #ccc; margin:0 auto; overflow:hidden}
.yinhang span{width:160px; height:50px;  display:inline-block; margin:15px; border:1px solid #ccc;}
.chong{width:820px; height:300px;}
.chong li{width:820px; height:60px;}
.chong li a{display:inline-block; float:left; height:40px; width:180px; line-height:40px; text-align:left}
.chong span{width:100px; height:40px; float:left; margin:0; line-height:40px; border:none}
.chong .input_text{height:30px; display:inline-block; margin-top:5px}
.chong i{font-style:normal; display:inline-block; width:60px; height:40px;line-height:40px; float:left; text-align:left}
.chong .org_num{width:50px; font-size:16px; color:#f90;}
.yinhang01{width:820px; height:auto; margin:0 auto; overflow:hidden}
.wang_yin{width:820px; height:100px}
.wang_yin span{width:160px; height:50px;  display:inline-block; margin:15px; border:1px solid #ccc;}
.chong .queren_box{width:50px;}
.queren_box input{margin-top:12px}
.submit_box{width:80px; height:30px; background:#f60; border:1px solid #eb6a05; display:inline-block; text-align:center; border-radius:5px; color:#fff; cursor:pointer}

/*tixian*/
.user_con01{width: 866px; height:auto;  margin:0 auto;}
.user_con02{width: 866px; height:auto;  margin:0 auto;}
.user_con02 p{width:866px; height:40px; text-align:left; padding:10px; font-size:14px}
.post_car{width:800px; height:auto;}
.post_car li{width:800px; height:50px;}
.post_car span{display:inline-block; width:230px; height:40px; float:left; margin-left:15px; margin-right:45px; text-align:left; line-height:40px}
.btn_tijao input{width:70px; height:30px; margin-bottom:10px}
.btn_bac{background:#f60; border:1px solid #eb6a05;}
.post_car span select{width:160px; margin-top:8px}
.post_car .ti_wh{width:150px; height:40px; text-align:right;}
.post_car input{ margin-top:9px}
.post_car .choes_pro{width:76px; height:24px}
.w_tishi{width:800px; height:200px; }
.w_tishi p{margin:5px; padding:0; color:#e25353;}
.user_con02 .jine{width:850px; border-top:1px solid #ccc;}
.post_car a{width:55px; height:25px; border:1px solid #ccc; display:inline-block; float:right; margin-top:5px;}
.post_car strong{font-size:14px; color:$f90; width:50px; display:inline-block}
.post_car i{font-style:normal;}










